
    <!-- start: login panel -->
    <div class="container body-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading  text-center">
                        <h1>登录</h1>
                    </div>
                    <div class="panel-body">
                        <form action="/account/logining" method="post" class="form" role="form">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" class="form-control" name="email" placeholder="请输入邮箱">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="请输入密码">
                            </div>
                            <div class="form-group  text-center">
                                <button type="submit" class="btn btn-success">登 录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:   login panel -->
